{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block title %}Foodie| Login{% endblock %}
{% block content %}
{% block formcontent %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3" style="margin:5em;">
        <div class="ui segment">
             {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <div class="socialaccount_ballot text-center">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              <div class="login-or text-center">{% trans 'OR' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
            {% endif %}
          <form class="ui huge form" method="POST" action="http://localhost:8000/o/token/">
            {% csrf_token %}
            <div class="field">
              <label for="id_login">Username</label>
                <input autofocus="autofocus" class="form-control" id="id_login" maxlength="30" name="login" type="text" autocomplete=false/>
            </div>
            <div class="field">
              <label for="id_password">Password</label>
                <input id="id_password" class="form-control" name="password" type="password">
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="field">
             <span class="text-left">
                <div class="ui toggle checkbox">
                  <input type="checkbox" name="remember" tabindex="0" class="hidden">
                  <label for="id_remember">Remember Me</label>
                </div>
              </span>
              <span class="text-right forgot">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot your Password?" %}</a>
              </span>
            </div>
            <button class="ui button tomato fluid" type="submit">Submit</button>
          </form>
        </div>
    </div>
  </div>
{% endblock formcontent %}
{% endblock %}
